{
    "openapi": "3.0.1",
    "info":
    {
        "title": "UVP API",
        "description": "API to query vulnerabilities via PURL",
        "version": "0.0.1"
    },
    "servers":
    [
        {
            "url": "https://uvp.osinfra.cn"
        }
    ],
    "paths":
    {
        "/uvp-api/queryBatch":
        {
            "post":
            {
                "tags":
                [
                    "API"
                ],
                "summary": "Query vulnerabilities affecting a given list of PURLs",
                "operationId": "queryBatch",
                "requestBody":
                {
                    "description": "A JSON list of Package URLs",
                    "content":
                    {
                        "application/json":
                        {
                            "schema":
                            {
                                "maxItems": 16,
                                "type": "array",
                                "items":
                                {
                                    "type": "string"
                                }
                            },
                            "example":
                            [
                                "pkg:maven/org.apache.logging.log4j/log4j-core@2.13.0"
                            ]
                        }
                    },
                    "required": true
                },
                "responses":
                {
                    "500":
                    {
                        "description": "There was an internal error while process the request",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example":
                                {
                                    "code": 1,
                                    "message": "Unknown error"
                                }
                            }
                        }
                    },
                    "200":
                    {
                        "description": "A JSON list of Package URLs and their corresponding OSV schema vulnerabilities",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "$ref": "#/components/schemas/PackageVulns"
                                    }
                                },
                                "example":
                                [
                                    {
                                        "purl": "pkg:maven/org.apache.logging.log4j/log4j-core@2.13.0",
                                        "vulns":
                                        [
                                            {
                                                "id": "GHSA-jfh8-c2jp-5v3q",
                                                "modified": "2023-03-12T05:37:05.056138Z",
                                                "published": "2021-12-10T00:40:56Z",
                                                "aliases":
                                                [
                                                    "CVE-2021-44228"
                                                ],
                                                "summary": "Remote code injection in Log4j",
                                                "details": "# Summary\n\nLog4j versions prior to 2.16.0 are subject to a remote code execution vulnerability via the ldap JNDI parser.\nAs per [Apache's Log4j security guide](https://logging.apache.org/log4j/2.x/security.html): Apache Log4j2 <=2.14.1 JNDI features used in configuration, log messages, and parameters do not protect against attacker controlled LDAP and other JNDI related endpoints. An attacker who can control log messages or log message parameters can execute arbitrary code loaded from LDAP servers when message lookup substitution is enabled. From log4j 2.16.0, this behavior has been disabled by default.\n\nLog4j version 2.15.0 contained an earlier fix for the vulnerability, but that patch did not disable attacker-controlled JNDI lookups in all situations. For more information, see the `Updated advice for version 2.16.0` section of this advisory.\n\n# Impact\n\nLogging untrusted or user controlled data with a vulnerable version of Log4J may result in Remote Code Execution (RCE) against your application. This includes untrusted data included in logged errors such as exception traces, authentication failures, and other unexpected vectors of user controlled input. \n\n# Affected versions\n\nAny Log4J version prior to v2.15.0 is affected to this specific issue.\n\nThe v1 branch of Log4J which is considered End Of Life (EOL) is vulnerable to other RCE vectors so the recommendation is to still update to 2.16.0 where possible.\n\n## Security releases\nAdditional backports of this fix have been made available in versions 2.3.1, 2.12.2, and 2.12.3\n\n## Affected packages\nOnly the `org.apache.logging.log4j:log4j-core` package is directly affected by this vulnerability. The `org.apache.logging.log4j:log4j-api` should be kept at the same version as the `org.apache.logging.log4j:log4j-core` package to ensure compatability if in use.\n\n# Remediation Advice\n\n## Updated advice for version 2.16.0\n\nThe Apache Logging Services team provided updated mitigation advice upon the release of version 2.16.0, which [disables JNDI by default and completely removes support for message lookups](https://logging.apache.org/log4j/2.x/changes-report.html#a2.16.0).\nEven in version 2.15.0, lookups used in layouts to provide specific pieces of context information will still recursively resolve, possibly triggering JNDI lookups. This problem is being tracked as [CVE-2021-45046](https://nvd.nist.gov/vuln/detail/CVE-2021-45046). More information is available on the [GitHub Security Advisory for CVE-2021-45046](https://github.com/advisories/GHSA-7rjr-3q55-vv33).\n\nUsers who want to avoid attacker-controlled JNDI lookups but cannot upgrade to 2.16.0 must [ensure that no such lookups resolve to attacker-provided data and ensure that the the JndiLookup class is not loaded](https://issues.apache.org/jira/browse/LOG4J2-3221).\n\nPlease note that Log4J v1 is End Of Life (EOL) and will not receive patches for this issue. Log4J v1 is also vulnerable to other RCE vectors and we recommend you migrate to Log4J 2.16.0 where possible.\n\n",
                                                "severity":
                                                [
                                                    {
                                                        "type": "CVSS_V3",
                                                        "score": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:C/C:H/I:H/A:H"
                                                    }
                                                ],
                                                "affected":
                                                [
                                                    {
                                                        "ranges":
                                                        [
                                                            {
                                                                "type": "ECOSYSTEM",
                                                                "events":
                                                                [
                                                                    {
                                                                        "introduced": "2.13.0"
                                                                    },
                                                                    {
                                                                        "fixed": "2.15.0"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "versions":
                                                        [
                                                            "2.13.0",
                                                            "2.13.1",
                                                            "2.13.2",
                                                            "2.13.3",
                                                            "2.14.0",
                                                            "2.14.1"
                                                        ],
                                                        "package":
                                                        {
                                                            "ecosystem": "Maven",
                                                            "name": "org.apache.logging.log4j:log4j-core",
                                                            "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                        },
                                                        "database_specific":
                                                        {
                                                            "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                        }
                                                    },
                                                    {
                                                        "ranges":
                                                        [
                                                            {
                                                                "type": "ECOSYSTEM",
                                                                "events":
                                                                [
                                                                    {
                                                                        "introduced": "0"
                                                                    },
                                                                    {
                                                                        "fixed": "2.3.1"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "versions":
                                                        [
                                                            "2.0",
                                                            "2.0-alpha1",
                                                            "2.0-alpha2",
                                                            "2.0-beta1",
                                                            "2.0-beta2",
                                                            "2.0-beta3",
                                                            "2.0-beta4",
                                                            "2.0-beta5",
                                                            "2.0-beta6",
                                                            "2.0-beta7",
                                                            "2.0-beta8",
                                                            "2.0-beta9",
                                                            "2.0-rc1",
                                                            "2.0-rc2",
                                                            "2.0.1",
                                                            "2.0.2",
                                                            "2.1",
                                                            "2.2",
                                                            "2.3"
                                                        ],
                                                        "package":
                                                        {
                                                            "ecosystem": "Maven",
                                                            "name": "org.apache.logging.log4j:log4j-core",
                                                            "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                        },
                                                        "database_specific":
                                                        {
                                                            "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                        }
                                                    },
                                                    {
                                                        "ranges":
                                                        [
                                                            {
                                                                "type": "ECOSYSTEM",
                                                                "events":
                                                                [
                                                                    {
                                                                        "introduced": "2.4"
                                                                    },
                                                                    {
                                                                        "fixed": "2.12.2"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "versions":
                                                        [
                                                            "2.10.0",
                                                            "2.11.0",
                                                            "2.11.1",
                                                            "2.11.2",
                                                            "2.12.0",
                                                            "2.12.1",
                                                            "2.4",
                                                            "2.4.1",
                                                            "2.5",
                                                            "2.6",
                                                            "2.6.1",
                                                            "2.6.2",
                                                            "2.7",
                                                            "2.8",
                                                            "2.8.1",
                                                            "2.8.2",
                                                            "2.9.0",
                                                            "2.9.1"
                                                        ],
                                                        "package":
                                                        {
                                                            "ecosystem": "Maven",
                                                            "name": "org.apache.logging.log4j:log4j-core",
                                                            "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                        },
                                                        "database_specific":
                                                        {
                                                            "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                        }
                                                    }
                                                ],
                                                "references":
                                                [
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165532/Log4Shell-HTTP-Header-Injection.html"
                                                    },
                                                    {
                                                        "type": "ADVISORY",
                                                        "url": "https://nvd.nist.gov/vuln/detail/CVE-2021-44228"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://github.com/apache/logging-log4j2/pull/608"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-397453.pdf"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-479842.pdf"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-661247.pdf"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-714170.pdf"
                                                    },
                                                    {
                                                        "type": "ADVISORY",
                                                        "url": "https://github.com/advisories/GHSA-7rjr-3q55-vv33"
                                                    },
                                                    {
                                                        "type": "PACKAGE",
                                                        "url": "https://github.com/apache/logging-log4j2"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://github.com/cisagov/log4j-affected-db"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://github.com/cisagov/log4j-affected-db/blob/develop/SOFTWARE-LIST.md"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://github.com/nu11secur1ty/CVE-mitre/tree/main/CVE-2021-44228"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://github.com/tangxiaofeng7/apache-log4j-poc"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://issues.apache.org/jira/browse/LOG4J2-3198"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://issues.apache.org/jira/browse/LOG4J2-3201"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://issues.apache.org/jira/browse/LOG4J2-3214"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://issues.apache.org/jira/browse/LOG4J2-3221"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://lists.debian.org/debian-lts-announce/2021/12/msg00007.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/M5CSVUNV4HWZZXGOKNSK6L7RPM7BOKIB/"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/VU57UJDCFIASIO35GC55JMKSRXJMCDFM/"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://logging.apache.org/log4j/2.x/changes-report.html#a2.15.0"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://logging.apache.org/log4j/2.x/manual/lookups.html#JndiLookup"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://logging.apache.org/log4j/2.x/manual/migration.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://logging.apache.org/log4j/2.x/security.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://msrc-blog.microsoft.com/2021/12/11/microsofts-response-to-cve-2021-44228-apache-log4j2/"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://psirt.global.sonicwall.com/vuln-detail/SNWLID-2021-0032"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://security.netapp.com/advisory/ntap-20211210-0007/"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://support.apple.com/kb/HT213189"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-apache-log4j-qRuKNEbd"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://twitter.com/kurtseifried/status/1469345530182455296"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.bentley.com/en/common-vulnerability-exposure/be-2022-0001"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.debian.org/security/2021/dsa-5020"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.intel.com/content/www/us/en/security-center/advisory/intel-sa-00646.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.kb.cert.org/vuls/id/930724"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.nu11secur1ty.com/2021/12/cve-2021-44228.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.oracle.com/security-alerts/alert-cve-2021-44228.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.oracle.com/security-alerts/cpuapr2022.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "https://www.oracle.com/security-alerts/cpujan2022.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165225/Apache-Log4j2-2.14.1-Remote-Code-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165260/VMware-Security-Advisory-2021-0028.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165261/Apache-Log4j2-2.14.1-Information-Disclosure.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165270/Apache-Log4j2-2.14.1-Remote-Code-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165281/Log4j2-Log4Shell-Regexes.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165282/Log4j-Payload-Generator.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165306/L4sh-Log4j-Remote-Code-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165307/Log4j-Remote-Code-Execution-Word-Bypassing.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165311/log4j-scan-Extensive-Scanner.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165371/VMware-Security-Advisory-2021-0028.4.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165642/VMware-vCenter-Server-Unauthenticated-Log4Shell-JNDI-Injection-Remote-Code-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/165673/UniFi-Network-Application-Unauthenticated-Log4Shell-Remote-Code-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/167794/Open-Xchange-App-Suite-7.10.x-Cross-Site-Scripting-Command-Injection.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://packetstormsecurity.com/files/167917/MobileIron-Log4Shell-Remote-Command-Execution.html"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://seclists.org/fulldisclosure/2022/Dec/2"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://seclists.org/fulldisclosure/2022/Jul/11"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://seclists.org/fulldisclosure/2022/Mar/23"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/10/1"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/10/2"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/10/3"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/13/1"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/13/2"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/14/4"
                                                    },
                                                    {
                                                        "type": "WEB",
                                                        "url": "http://www.openwall.com/lists/oss-security/2021/12/15/3"
                                                    }
                                                ],
                                                "schema_version": "1.3.0",
                                                "database_specific":
                                                {
                                                    "cwe_ids":
                                                    [
                                                        "CWE-20",
                                                        "CWE-400",
                                                        "CWE-502",
                                                        "CWE-917"
                                                    ],
                                                    "severity": "CRITICAL",
                                                    "github_reviewed": true,
                                                    "nvd_published_at": "2021-12-10T10:15:00Z",
                                                    "github_reviewed_at": "2021-12-10T00:40:41Z"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400":
                    {
                        "description": "There are some invalid PURLs",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example":
                                {
                                    "code": 2,
                                    "message": "Invalid purls: [some_invalid_purl, another_invalid_purl]"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/uvp-api/query":
        {
            "get":
            {
                "tags":
                [
                    "API"
                ],
                "summary": "Query vulnerabilities affecting a given PURL",
                "operationId": "query",
                "parameters":
                [
                    {
                        "name": "purl",
                        "in": "query",
                        "description": "Package URL",
                        "required": true,
                        "schema":
                        {
                            "type": "string"
                        },
                        "example": "pkg:maven/org.apache.logging.log4j/log4j-core@2.13.0"
                    }
                ],
                "responses":
                {
                    "500":
                    {
                        "description": "There was an internal error while process the request",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example":
                                {
                                    "code": 1,
                                    "message": "Unknown error"
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid PURL",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example":
                                {
                                    "code": 2,
                                    "message": "Invalid purl: <some_invalid_purl>"
                                }
                            }
                        }
                    },
                    "200":
                    {
                        "description": "A JSON list of OSV schema vulnerabilities",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "$ref": "#/components/schemas/OsvVulnerability"
                                    }
                                },
                                "example":
                                [
                                    {
                                        "id": "GHSA-jfh8-c2jp-5v3q",
                                        "modified": "2023-03-12T05:37:05.056138Z",
                                        "published": "2021-12-10T00:40:56Z",
                                        "aliases":
                                        [
                                            "CVE-2021-44228"
                                        ],
                                        "summary": "Remote code injection in Log4j",
                                        "details": "# Summary\n\nLog4j versions prior to 2.16.0 are subject to a remote code execution vulnerability via the ldap JNDI parser.\nAs per [Apache's Log4j security guide](https://logging.apache.org/log4j/2.x/security.html): Apache Log4j2 <=2.14.1 JNDI features used in configuration, log messages, and parameters do not protect against attacker controlled LDAP and other JNDI related endpoints. An attacker who can control log messages or log message parameters can execute arbitrary code loaded from LDAP servers when message lookup substitution is enabled. From log4j 2.16.0, this behavior has been disabled by default.\n\nLog4j version 2.15.0 contained an earlier fix for the vulnerability, but that patch did not disable attacker-controlled JNDI lookups in all situations. For more information, see the `Updated advice for version 2.16.0` section of this advisory.\n\n# Impact\n\nLogging untrusted or user controlled data with a vulnerable version of Log4J may result in Remote Code Execution (RCE) against your application. This includes untrusted data included in logged errors such as exception traces, authentication failures, and other unexpected vectors of user controlled input. \n\n# Affected versions\n\nAny Log4J version prior to v2.15.0 is affected to this specific issue.\n\nThe v1 branch of Log4J which is considered End Of Life (EOL) is vulnerable to other RCE vectors so the recommendation is to still update to 2.16.0 where possible.\n\n## Security releases\nAdditional backports of this fix have been made available in versions 2.3.1, 2.12.2, and 2.12.3\n\n## Affected packages\nOnly the `org.apache.logging.log4j:log4j-core` package is directly affected by this vulnerability. The `org.apache.logging.log4j:log4j-api` should be kept at the same version as the `org.apache.logging.log4j:log4j-core` package to ensure compatability if in use.\n\n# Remediation Advice\n\n## Updated advice for version 2.16.0\n\nThe Apache Logging Services team provided updated mitigation advice upon the release of version 2.16.0, which [disables JNDI by default and completely removes support for message lookups](https://logging.apache.org/log4j/2.x/changes-report.html#a2.16.0).\nEven in version 2.15.0, lookups used in layouts to provide specific pieces of context information will still recursively resolve, possibly triggering JNDI lookups. This problem is being tracked as [CVE-2021-45046](https://nvd.nist.gov/vuln/detail/CVE-2021-45046). More information is available on the [GitHub Security Advisory for CVE-2021-45046](https://github.com/advisories/GHSA-7rjr-3q55-vv33).\n\nUsers who want to avoid attacker-controlled JNDI lookups but cannot upgrade to 2.16.0 must [ensure that no such lookups resolve to attacker-provided data and ensure that the the JndiLookup class is not loaded](https://issues.apache.org/jira/browse/LOG4J2-3221).\n\nPlease note that Log4J v1 is End Of Life (EOL) and will not receive patches for this issue. Log4J v1 is also vulnerable to other RCE vectors and we recommend you migrate to Log4J 2.16.0 where possible.\n\n",
                                        "severity":
                                        [
                                            {
                                                "type": "CVSS_V3",
                                                "score": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:C/C:H/I:H/A:H"
                                            }
                                        ],
                                        "affected":
                                        [
                                            {
                                                "ranges":
                                                [
                                                    {
                                                        "type": "ECOSYSTEM",
                                                        "events":
                                                        [
                                                            {
                                                                "introduced": "2.13.0"
                                                            },
                                                            {
                                                                "fixed": "2.15.0"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "versions":
                                                [
                                                    "2.13.0",
                                                    "2.13.1",
                                                    "2.13.2",
                                                    "2.13.3",
                                                    "2.14.0",
                                                    "2.14.1"
                                                ],
                                                "package":
                                                {
                                                    "ecosystem": "Maven",
                                                    "name": "org.apache.logging.log4j:log4j-core",
                                                    "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                },
                                                "database_specific":
                                                {
                                                    "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                }
                                            },
                                            {
                                                "ranges":
                                                [
                                                    {
                                                        "type": "ECOSYSTEM",
                                                        "events":
                                                        [
                                                            {
                                                                "introduced": "0"
                                                            },
                                                            {
                                                                "fixed": "2.3.1"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "versions":
                                                [
                                                    "2.0",
                                                    "2.0-alpha1",
                                                    "2.0-alpha2",
                                                    "2.0-beta1",
                                                    "2.0-beta2",
                                                    "2.0-beta3",
                                                    "2.0-beta4",
                                                    "2.0-beta5",
                                                    "2.0-beta6",
                                                    "2.0-beta7",
                                                    "2.0-beta8",
                                                    "2.0-beta9",
                                                    "2.0-rc1",
                                                    "2.0-rc2",
                                                    "2.0.1",
                                                    "2.0.2",
                                                    "2.1",
                                                    "2.2",
                                                    "2.3"
                                                ],
                                                "package":
                                                {
                                                    "ecosystem": "Maven",
                                                    "name": "org.apache.logging.log4j:log4j-core",
                                                    "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                },
                                                "database_specific":
                                                {
                                                    "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                }
                                            },
                                            {
                                                "ranges":
                                                [
                                                    {
                                                        "type": "ECOSYSTEM",
                                                        "events":
                                                        [
                                                            {
                                                                "introduced": "2.4"
                                                            },
                                                            {
                                                                "fixed": "2.12.2"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "versions":
                                                [
                                                    "2.10.0",
                                                    "2.11.0",
                                                    "2.11.1",
                                                    "2.11.2",
                                                    "2.12.0",
                                                    "2.12.1",
                                                    "2.4",
                                                    "2.4.1",
                                                    "2.5",
                                                    "2.6",
                                                    "2.6.1",
                                                    "2.6.2",
                                                    "2.7",
                                                    "2.8",
                                                    "2.8.1",
                                                    "2.8.2",
                                                    "2.9.0",
                                                    "2.9.1"
                                                ],
                                                "package":
                                                {
                                                    "ecosystem": "Maven",
                                                    "name": "org.apache.logging.log4j:log4j-core",
                                                    "purl": "pkg:maven/org.apache.logging.log4j/log4j-core"
                                                },
                                                "database_specific":
                                                {
                                                    "source": "https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/12/GHSA-jfh8-c2jp-5v3q/GHSA-jfh8-c2jp-5v3q.json"
                                                }
                                            }
                                        ],
                                        "references":
                                        [
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165532/Log4Shell-HTTP-Header-Injection.html"
                                            },
                                            {
                                                "type": "ADVISORY",
                                                "url": "https://nvd.nist.gov/vuln/detail/CVE-2021-44228"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://github.com/apache/logging-log4j2/pull/608"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-397453.pdf"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-479842.pdf"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-661247.pdf"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-714170.pdf"
                                            },
                                            {
                                                "type": "ADVISORY",
                                                "url": "https://github.com/advisories/GHSA-7rjr-3q55-vv33"
                                            },
                                            {
                                                "type": "PACKAGE",
                                                "url": "https://github.com/apache/logging-log4j2"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://github.com/cisagov/log4j-affected-db"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://github.com/cisagov/log4j-affected-db/blob/develop/SOFTWARE-LIST.md"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://github.com/nu11secur1ty/CVE-mitre/tree/main/CVE-2021-44228"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://github.com/tangxiaofeng7/apache-log4j-poc"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://issues.apache.org/jira/browse/LOG4J2-3198"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://issues.apache.org/jira/browse/LOG4J2-3201"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://issues.apache.org/jira/browse/LOG4J2-3214"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://issues.apache.org/jira/browse/LOG4J2-3221"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://lists.debian.org/debian-lts-announce/2021/12/msg00007.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/M5CSVUNV4HWZZXGOKNSK6L7RPM7BOKIB/"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/VU57UJDCFIASIO35GC55JMKSRXJMCDFM/"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://logging.apache.org/log4j/2.x/changes-report.html#a2.15.0"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://logging.apache.org/log4j/2.x/manual/lookups.html#JndiLookup"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://logging.apache.org/log4j/2.x/manual/migration.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://logging.apache.org/log4j/2.x/security.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://msrc-blog.microsoft.com/2021/12/11/microsofts-response-to-cve-2021-44228-apache-log4j2/"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://psirt.global.sonicwall.com/vuln-detail/SNWLID-2021-0032"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://security.netapp.com/advisory/ntap-20211210-0007/"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://support.apple.com/kb/HT213189"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-apache-log4j-qRuKNEbd"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://twitter.com/kurtseifried/status/1469345530182455296"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.bentley.com/en/common-vulnerability-exposure/be-2022-0001"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.debian.org/security/2021/dsa-5020"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.intel.com/content/www/us/en/security-center/advisory/intel-sa-00646.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.kb.cert.org/vuls/id/930724"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.nu11secur1ty.com/2021/12/cve-2021-44228.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.oracle.com/security-alerts/alert-cve-2021-44228.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.oracle.com/security-alerts/cpuapr2022.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "https://www.oracle.com/security-alerts/cpujan2022.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165225/Apache-Log4j2-2.14.1-Remote-Code-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165260/VMware-Security-Advisory-2021-0028.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165261/Apache-Log4j2-2.14.1-Information-Disclosure.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165270/Apache-Log4j2-2.14.1-Remote-Code-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165281/Log4j2-Log4Shell-Regexes.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165282/Log4j-Payload-Generator.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165306/L4sh-Log4j-Remote-Code-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165307/Log4j-Remote-Code-Execution-Word-Bypassing.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165311/log4j-scan-Extensive-Scanner.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165371/VMware-Security-Advisory-2021-0028.4.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165642/VMware-vCenter-Server-Unauthenticated-Log4Shell-JNDI-Injection-Remote-Code-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/165673/UniFi-Network-Application-Unauthenticated-Log4Shell-Remote-Code-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/167794/Open-Xchange-App-Suite-7.10.x-Cross-Site-Scripting-Command-Injection.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://packetstormsecurity.com/files/167917/MobileIron-Log4Shell-Remote-Command-Execution.html"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://seclists.org/fulldisclosure/2022/Dec/2"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://seclists.org/fulldisclosure/2022/Jul/11"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://seclists.org/fulldisclosure/2022/Mar/23"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/10/1"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/10/2"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/10/3"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/13/1"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/13/2"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/14/4"
                                            },
                                            {
                                                "type": "WEB",
                                                "url": "http://www.openwall.com/lists/oss-security/2021/12/15/3"
                                            }
                                        ],
                                        "schema_version": "1.3.0",
                                        "database_specific":
                                        {
                                            "cwe_ids":
                                            [
                                                "CWE-20",
                                                "CWE-400",
                                                "CWE-502",
                                                "CWE-917"
                                            ],
                                            "severity": "CRITICAL",
                                            "github_reviewed": true,
                                            "nvd_published_at": "2021-12-10T10:15:00Z",
                                            "github_reviewed_at": "2021-12-10T00:40:41Z"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        }
    },
    "components":
    {
        "schemas":
        {
            "Error":
            {
                "type": "object",
                "properties":
                {
                    "code":
                    {
                        "type": "string",
                        "enum":
                        [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5"
                        ]
                    },
                    "message":
                    {
                        "type": "string"
                    }
                },
                "description": "Error response"
            },
            "OsvAffected":
            {
                "type": "object",
                "properties":
                {
                    "ranges":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvRange"
                        }
                    },
                    "versions":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "string"
                        }
                    },
                    "package":
                    {
                        "$ref": "#/components/schemas/OsvPackage"
                    },
                    "ecosystem_specific":
                    {
                        "type": "object",
                        "additionalProperties":
                        {
                            "type": "object"
                        }
                    },
                    "database_specific":
                    {
                        "type": "object",
                        "additionalProperties":
                        {
                            "type": "object"
                        }
                    }
                }
            },
            "OsvCredit":
            {
                "required":
                [
                    "name"
                ],
                "type": "object",
                "properties":
                {
                    "name":
                    {
                        "type": "string"
                    },
                    "contact":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "string"
                        }
                    }
                }
            },
            "OsvEvent":
            {
                "type": "object",
                "properties":
                {
                    "empty":
                    {
                        "type": "boolean"
                    }
                },
                "additionalProperties":
                {
                    "type": "string"
                }
            },
            "OsvPackage":
            {
                "required":
                [
                    "ecosystem",
                    "name"
                ],
                "type": "object",
                "properties":
                {
                    "ecosystem":
                    {
                        "type": "string",
                        "enum":
                        [
                            "Unknown",
                            "Alpine",
                            "Alpine:v3.2",
                            "Alpine:v3.3",
                            "Alpine:v3.4",
                            "Alpine:v3.5",
                            "Alpine:v3.6",
                            "Alpine:v3.7",
                            "Alpine:v3.8",
                            "Alpine:v3.9",
                            "Alpine:v3.10",
                            "Alpine:v3.11",
                            "Alpine:v3.12",
                            "Alpine:v3.13",
                            "Alpine:v3.14",
                            "Alpine:v3.15",
                            "Alpine:v3.16",
                            "Alpine:v3.17",
                            "crates.io",
                            "Debian",
                            "Debian:3.0",
                            "Debian:3.1",
                            "Debian:4.0",
                            "Debian:5.0",
                            "Debian:6.0",
                            "Debian:7",
                            "Debian:8",
                            "Debian:9",
                            "Debian:10",
                            "Debian:11",
                            "Go",
                            "Hex",
                            "Maven",
                            "npm",
                            "NuGet",
                            "OSS-Fuzz",
                            "Packagist",
                            "Pub",
                            "PyPI",
                            "RubyGems",
                            "Linux",
                            "Android",
                            "GitHub Actions",
                            "GSD",
                            "UVI"
                        ]
                    },
                    "name":
                    {
                        "type": "string"
                    },
                    "purl":
                    {
                        "type": "string"
                    }
                }
            },
            "OsvRange":
            {
                "required":
                [
                    "events",
                    "type"
                ],
                "type": "object",
                "properties":
                {
                    "type":
                    {
                        "type": "string",
                        "enum":
                        [
                            "SEMVER",
                            "ECOSYSTEM",
                            "GIT"
                        ]
                    },
                    "repo":
                    {
                        "type": "string"
                    },
                    "events":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvEvent"
                        }
                    },
                    "database_specific":
                    {
                        "type": "object",
                        "additionalProperties":
                        {
                            "type": "object"
                        }
                    }
                }
            },
            "OsvReference":
            {
                "required":
                [
                    "type",
                    "url"
                ],
                "type": "object",
                "properties":
                {
                    "type":
                    {
                        "type": "string",
                        "enum":
                        [
                            "ADVISORY",
                            "ARTICLE",
                            "REPORT",
                            "FIX",
                            "PACKAGE",
                            "EVIDENCE",
                            "WEB"
                        ]
                    },
                    "url":
                    {
                        "type": "string"
                    }
                }
            },
            "OsvSeverity":
            {
                "required":
                [
                    "score",
                    "type"
                ],
                "type": "object",
                "properties":
                {
                    "type":
                    {
                        "type": "string",
                        "enum":
                        [
                            "CVSS_V2",
                            "CVSS_V3"
                        ]
                    },
                    "score":
                    {
                        "type": "string"
                    }
                }
            },
            "OsvVulnerability":
            {
                "required":
                [
                    "id",
                    "modified"
                ],
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "string"
                    },
                    "modified":
                    {
                        "type": "string"
                    },
                    "published":
                    {
                        "type": "string"
                    },
                    "withdrawn":
                    {
                        "type": "string"
                    },
                    "aliases":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "string"
                        }
                    },
                    "related":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "string"
                        }
                    },
                    "summary":
                    {
                        "type": "string"
                    },
                    "details":
                    {
                        "type": "string"
                    },
                    "severity":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvSeverity"
                        }
                    },
                    "affected":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvAffected"
                        }
                    },
                    "references":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvReference"
                        }
                    },
                    "credits":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvCredit"
                        }
                    },
                    "schema_version":
                    {
                        "type": "string",
                        "enum":
                        [
                            "1.3.0",
                            "1.3.1",
                            "1.4.0"
                        ]
                    },
                    "database_specific":
                    {
                        "type": "object",
                        "additionalProperties":
                        {
                            "type": "object"
                        }
                    }
                },
                "description": "OSV schema vulnerabilities"
            },
            "PackageVulns":
            {
                "type": "object",
                "properties":
                {
                    "purl":
                    {
                        "type": "string"
                    },
                    "vulns":
                    {
                        "type": "array",
                        "items":
                        {
                            "$ref": "#/components/schemas/OsvVulnerability"
                        }
                    }
                }
            }
        }
    }
}